::root {
    --blue-light:#242F98;
}

html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}


.font-blue-light {
    color:#242F98 !important;
}
.avatar-default-user{
    text-align: center;
    margin-bottom:20px;
    font-size: 60px;
        color:#121B74!important;

}

.center {
    text-align: center;
    width:400px;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}
.swal2-shown aside {
   min-height: 100% !important;
}
/** Login **/
.login,
.registrar {
    background: #455A64;
    background-color: #121B74;
}
.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.contenedor-formulario h1 {
    text-align: center;
    color: white;
}
.contenedor-formulario h1  span{
    font-weight: 400;
    font-size: 1.2rem;
}
.caja-login {
    background-color: #F2F2F2;
    border: 1px solid #707070;
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
}
.campo {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;

}
.campo label {
    flex: 0 0 100px;
    text-align: right;
    padding-right: 1rem;
}
.campo input[type="text"],
.campo input[type="password"],
.campo input[type="email"] {
    height: 3rem;
    border: 0;
    flex: 1;
    border: 1px solid #455A64;
    border-radius: 5rem;
    padding-left: 2rem;
}
.enviar {
   justify-content: flex-end;
}
.boton {
    color: #1E2A5C;
    border-radius:5px;
    background-color: #FDD835;
    text-align: center;
    transition: background-color .5s ease-in-out;
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    font-weight: 900;
}

.boton-no-upper {
    color: #1E2A5C;
    border-radius:5px;
    background-color: #FDD835;
    text-align: center;
    transition: background-color .5s ease-in-out;
    display: block;
    padding: 1rem;
    padding-left:1.6rem;
    padding-right:1.6rem;
    text-transform: capitalize;
    font-weight: 400;
    border: none;
    font-weight: 900;
}
.btn-box-shadow {
    box-shadow:0px 0px 12px rgba(0,0,0,0.12);
}
.boton:hover {
    cursor: pointer;
    background-color: #E9BF03 !important;

}
.boton-no-upper:hover {
    cursor: pointer;
    background-color: #E9BF03 !important;

}
.campo a {
    color: black;
    text-decoration: none;
}

/** Barra **/
/*body.index {
    height: 100%;
}*/
.barra {
    background-color: #455A64;
    background-color: #293462;
    background-color: #121B74;
    padding: 1rem;
    height: 60px;
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-between;
    align-items: center;
}
.barra h1 {
    color: white;
    margin:0;
    font-size: 1.4rem;
}
.barra a {
    margin-right:10px;
    color: white;
    text-decoration: none;
}

.input-proyecto {
   padding:12px 14px;
   border-radius: 4px;
   border:none;
}

/*** sidebar**/

.contenedor-proyectos {
    min-height: 100% !important;

    max-width: 300px;
    background-color: #607D8B;
    background-color: #242F98;
    
    padding-top: 1rem;
}

.contenedor-proyectos-small {
    height:100vh !important;
    max-width: 300px;
    background-color: #607D8B;
    background-color: #242F98;
    
    padding-top: 1rem;
}

.panel {
    padding: 1rem;
    margin: 1rem;
}
.panel a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.panel h2 {
    color: #FDD835;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.crear-proyecto i {
    margin-left: 1rem;
}
.crear-proyecto a {
    color: #455A64;
    color: #293462;
}

.lista-proyectos ul{
    list-style: none;
    padding: 1.5rem 0 0 0;
    margin: 0;
}
.lista-proyectos ul li {
    margin-bottom: 1rem;
    /*   text-align: center;*/
}
.lista-proyectos ul li a:hover {
    color: #FDD835;
}


/** Contenido Principal */
.contenedor {
    display: flex;
    height: calc( 100% - 60px);
}
.contenido-principal {
    flex: 1;
    padding: 1rem;
    overflow: scroll;
}
.contenido-principal h1,
.contenido-principal h2 {
    text-align: center;
}
.contenido-principal h1 {
    font-size: 1.8rem;
}
.contenido-principal h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}
.contenido-principal h1 span {
    font-weight: 400;
}
.agregar-tarea {
    max-width: 800px;
    width: 90%;
    /*background-color: #607D8B;
    background-color: #242F98;
    background-color: #242F98;*/

    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}
.color-red {
    color:||;
}

/** Listado Pendientes **/
.listado-pendientes {
    background-color: #F2F2F2;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.16), 0px 1px 10px rgba(0,0,0,0.16);
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
    border: 1px solid #242F98   ;
}
.listado-pendientes ul {
    padding: 0;
    list-style: none;
}
.listado-pendientes ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
}
.listado-pendientes ul li:last-of-type {
    border-bottom: none;
}
.listado-pendientes ul li i {
    cursor: pointer;
}
.acciones i:last-child{
    margin-left: 3rem;
}
.completo {
    color: #00B762;
}
.alerta {
    background-color: red;
    padding: .5rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.alert-error {
    padding: .2rem;
    text-align: center;
    color: rgb(250, 41, 41);
    font-size: 1.2rem;
}


/* sidebar usuario */
.usuario-basic-info {
    text-align: center;
    margin:0;
    padding:0;
}

.usuario-basic-info > .avatar-default {
    color:#fff;
    font-size:42px;
}


.usuario-basic-info > .nombre-usuario {
    color:#fff;
    margin-bottom:5px;
}

.usuario-basic-info > a {
    color:#FDD835;
    text-decoration: none;
    margin-top:-40px !important;
}

/*  BARRA de avance del proyecto */
.barra-avance {
    height:32px;
    /*border:1px solid #999;*/
    width:80%;
    margin:0 auto;
    border-radius: 8px;
    max-width: 800px;
    overflow: hidden;
    background: #ddd;
}

.porcentaje {
    width:0%;
    height: 100%;
    background: #00B762;
    background-image: linear-gradient(45deg, rgba(255,255,255,.15)25%, transparent 25%, 
        transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent);
    background-size:1rem 1rem;
    transition: all .3s ease-in-out;
    overflow: hidden;
}